---
---
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}

// Typography

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("/assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Italic";
  src: url("/assets/fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato-BoldItalic";
  src: url("/assets/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Lato-Light";
  src: url("/assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato-LightItalic";
  src: url("/assets/fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato-Thin";
  src: url("/assets/fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lato-ThinItalic";
  src: url("/assets/fonts/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Lato-Black";
  src: url("/assets/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato-BlackItalic";
  src: url("/assets/fonts/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato-Light", sans-serif !important;
  font-weight: 300 !important;
}

body {
	font-family: "Lato-Regular", sans-serif !important;
}

side-bar {
	font-family: "Lato-Black", sans-serif !important;
}

// Callouts
//USAGE: {: .callout }
// use > at the beginning of each following line to force line breaks.
p.warning::before {
  content: "Warning!";
  background-image: url(/assets/images/gob_angry.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  color: #f2b7b7;
  padding-left: 48px;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  margin-bottom: 1em;
}

blockquote.warning::before {
  content: "Warning!";
  background-image: url(/assets/images/gob_angry.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  color: #f2b7b7;
  padding-left: 48px;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  margin-bottom: 1em;
}

p.important::before {
  content: "Important";
  background-image: url(/assets/images/gob_cry.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  color: #f2edb7;
  padding-left: 48px;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  margin-bottom: 1em;
}

blockquote.important::before {
  content: "Important";
  background-image: url(/assets/images/gob_cry.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  color: #f2edb7;
  padding-left: 48px;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  margin-bottom: 1em;
}

p.note::before {
  background-image: url(/assets/images/gob_plead.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  color: #c9b7f2;
  padding-left: 48px;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  margin-bottom: 1em;
}

blockquote.note::before {
  background-image: url(/assets/images/gob_plead.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  color: #c9b7f2;
  padding-left: 48px;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  margin-bottom: 1em;
}

blockquote.note::before {
  background-image: url(/assets/images/gob_plead.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  color: #c9b7f2;
  padding-left: 48px;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  margin-bottom: 1em;
}

p.tip::before {
  content: "Tip!";
  background-image: url(/assets/images/gob_kiss.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  color: #b9f2b7;
  padding-left: 48px;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  margin-bottom: 1em;
}

blockquote.tip::before {
  content: "Tip!";
  background-image: url(/assets/images/gob_kiss.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  color: #b9f2b7;
  padding-left: 48px;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  margin-bottom: 1em;
}


// Side Nav
.side-bar { z-index: 0; display: flex; flex-wrap: wrap; background-color: #27262b; }

// Video Player
.video-container {
  position: relative;
  width: 100%;
  height: 0; 
  }

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  }


// Colors
$goblin-gold: #e3cfa4;
$goblin-blue: #0e1015;
$goblin-border: #635d4f;